/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-align: center;
  display: flex;
  height: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
  /* padding: 0 10px; */
}
a:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10%;
  border-radius: 3px;
  transition: 0.3s;
}
a:hover::after {
  width: 100%;
}
.exception:after {
  content: none;
}
ul,
ol {
  list-style: none;
}
/* variables */
:root {
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1.12rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 2.7rem;
  --background-color: rgb(236, 227, 210);
  --primary-color: #e4b363;
  --secondary-color: #26413c;
  --secondary-color-dark: #26413c;
  --padding: 1rem;
}
/* font */
body {
  font-family: "thasadith", sans-serif;
}
body {
  background-color: var(--background-color);
  font-size: var(--fs-base);
}

h1 {
  font-size: var(--fs-3xl);
}

h2 {
  font-size: var(--fs-2xl);
}

h3 {
  font-size: var(--fs-xl);
}

p {
  font-size: var(--fs-base);
}

small {
  font-size: var(--fs-sm);
}
/* nav styling */
nav {
  padding: var(--padding);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  height: 3rem;
}

nav a {
  display: inline-block;
  text-align: center;
  width: 1.6rem;
  flex-shrink: 0;
}
img {
  width: 100%;
  object-fit: contain;
}
.logo {
  width: 5rem;
}
/* Hero styling */

.hero {
  isolation: isolate;
  position: relative;
  padding: var(--padding);
}

.hero h1 {
  color: var(--primary-color);
  padding-bottom: 1rem;
}
/* .hero-image {
  width: 25rem;
  filter: brightness(80%);
  display: flex;

  position: absolute;
  top: 0;
  right: 0;
} */
.links-header {
  display: none;
}
.links-header ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.links-header a {
  width: 7rem;
}
.hero-image img {
  filter: blur(1px);
  display: none;
}
.hero-text-content {
  z-index: 3;
  position: relative;
}
.hero::before {
  display: none;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  height: 22rem;
}
/* cta for hero */
.cta {
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.cta-green {
  background-color: var(--secondary-color-dark);
  padding: 0.6rem;
  width: 8rem;
  border: none;
  border-radius: 0 0.5rem 0 0.5rem;
  color: var(--primary-color);
  animation: 1s;
}
.cta-green:hover {
  background-color: var(--primary-color);
  color: white;
}

.cta-green:active {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.03);
}

.cta-gold:hover {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color) solid 2px;
}

.cta-gold:active {
  background-color: var(--primary-color);
  color: white;
  border: var(--primary-color) solid 2px;
  transform: scale(1.03);
}
.cta-gold {
  background-color: transparent;
  padding: 0.6rem;
  width: 8rem;
  border-radius: 0 0.5rem 0 0.5rem;
  border: var(--primary-color) solid 2px;
}
/* Top-dish-section */
.top-dish {
  padding: 1rem;
}
.top-dish h2 {
  color: var(--primary-color);
}
/* fav section */

.fav-card,
.menu-card {
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: var(--fs-sm);
  background-color: var(--secondary-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-radius: 0 0.5rem 0 0.5rem;
}
.fav-product-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}
.fav-image,
.menu-image {
  width: 100%;
  height: 5rem;
  border: var(--primary-color) 2px solid;
  border-radius: 0 0.5rem 0 0.5rem;
}
.fav-image img,
.menu-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 0 0.5rem 0 0.5rem;
}
.fav-cta .cta-gold,
.menu-cta .cta-gold {
  color: white;
  width: 100%;
  padding: 0.2rem;
  height: 2rem;
}
.top-dish h2 {
  padding: 1rem 0;
  width: 100%;
  background-color: var();
}
.fav-price,
.menu-price {
  color: var(--primary-color);
}
.fav-name p,
.menu-name p {
  font-size: var(--fs-sm);
}
.fav-text,
.menu-text {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;
}
/* why choose us section */
.why-choose-us {
  /* background: url(images/Blue\ Abstract\ pattern.png); */
  background-color: wheat;
  padding: 1rem;
  padding-bottom: 4rem;
}
.why-choose-us-card-containe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card {
  /* border: var(--secondary-color-dark) 2px solid; */
  color: var(--secondary-color-dark);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 0 0.5rem 0 0.5rem;
}
.card h2 {
  font-family: "Calligraffitti", sans-serif;
  color: var(--primary-color);
}

.hire-container {
  display: flex;

  flex-direction: column;
}
.hire-image {
  width: 100%;
  height: 15rem;
}
.hire-image img {
  height: 100%;
  object-fit: cover;
}
.hire-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
}
.hire-text button {
  color: white;
}
.footer-container {
  padding: 1rem;
  gap: 2rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container p {
  font-family: "Calligraffitti", sans-serif;
  color: var(--secondary-color-dark);
}
.socials-container {
  display: flex;
  width: 5rem;
  height: 5rem;
  gap: 1rem;

  /* aspect-ratio: 2/1; */
  max-height: 7rem;
  max-width: 7rem;
  justify-content: space-between;
}
.socials svg {
  height: 100%;
  width: 100%;
}
.links-container {
  width: 100%;
  text-decoration: underline;
}
.links-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 0.4rem;
}
.why-us-cards {
  display: grid;

  gap: 0.5rem;
}
.why-us-card {
  align-items: center;

  padding: 0.6rem;
  border-radius: 0.4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3rem auto;
  background-color: var(--secondary-color-dark);
  color: var(--primary-color);
}

/* ABOUT PAGE */
.about {
  background-color: rgb(236, 227, 210);
  color: var(--secondary-color-dark);
}

.about-hero-image {
  padding: 2rem;
  height: 12rem;

  position: relative;
  background: url(images/about-hero-image.jfif);
  background-position: center 80%;
  width: 100%;

  background-size: cover;
}
.why-us-content {
  padding: 2rem;
}
.about-hero-text {
  color: white;

  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-hero-text p {
  font-family: "Calligraffitti", sans-serif;
  font-weight: bold;
  font-size: var(--fs-3xl);
}
.why-us {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}
.why-us-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.why-us-image {
  display: flex;
  padding: 2rem;
}

.why-us-image-one {
  position: relative;
  width: 12rem;
}
.why-us-image-one img {
  border-radius: 0.6rem;
}
.why-us-image-two {
  position: absolute;
  bottom: -5rem;
  right: -2rem;

  width: 10rem;
}
.records {
  padding: 2rem;
  display: grid;
  background-color: var(--primary-color);
}

.records-card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.records-card > div:first-of-type {
  width: 3rem;
}
.records-container {
  display: grid;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.records-main-text {
  font-weight: bold;
  font-size: var(--fs-xl);
}
.crew {
  gap: 1rem;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.crew-cards {
  gap: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
.crew-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
}
.crew-card p {
  font-weight: bolder;
  font-size: var(--fs-xl);
  font-family: "Calligraffitti", sans-serif;
}

.crew-card > div:first-of-type {
  width: 13rem;
  border: solid var(--secondary-color);
  border-radius: 0.5rem;
  overflow: hidden;
}
.contact-us-text {
  color: white;
  padding: 1rem;
  background-color: var(--secondary-color);
}
.contact-us-text h1 {
  font-family: "Calligraffitti", sans-serif;
  color: var(--primary-color);
}
.contact-main {
  background-color: var(--secondary-color);
}
.contact-main .socials-container {
  padding: 1rem;
  width: 6rem;
  height: 4rem;
}
/* form styling */
.form-container {
  color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.form-container input {
  outline: none;
  color: var(--secondary-color);
  resize: none;
  background-color: var(--primary-color);
  font-size: var(--fs-md);
  border: none;
  /* background-color: var(--primary-color); */
  border-radius: 0 0.5rem 0 0.5rem;
  padding: 0.8rem;
  transition: all 0.2s ease;
}
.form-container input:hover,
textarea:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}
.form-container textarea {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  height: 10rem;
}
.form-container button {
  margin: 1rem 0;
  color: var(--primary-color);
}
.contact-body header {
  background-color: var(--primary-color);
  padding-bottom: 0.4rem;
}
/* apply for job styling */

.job-hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}
.job-hero h1 {
  font-size: var(--fs-2xl);
}
.job-hero .hire-image {
  border: var(--primary-color) solid 2px;
  height: 9rem;
  border-radius: 0 0.5rem 0 0.5rem;
}
.job-hero .hire-image img {
  border-radius: 0 0.5rem 0 0.5rem;
}
.our-values {
  display: grid;
  grid-template-areas:
    "txt txt"
    "arrow list";
}
.values-text {
  grid-area: txt;
}
.values-arrow {
  grid-area: arrow;
}
.values-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  grid-area: list;
  padding-left: 3rem;
}
.values-list p::before {
  content: "";
  position: absolute;
  left: 0%;
  width: 2rem;
  height: 2rem;
  background: url(images/goldbell.svg) no-repeat center/contain;
}
.values-list p {
  /* font-size: var(--fs-xl); */
}
.job-hero {
  background-color: var(--secondary-color);
  color: white;
}
.job-text h1 {
  color: var(--primary-color);
}
.values-text h2 {
  color: var(--primary-color);
  font-family: "Calligraffitti", sans-serif;
}
.job-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--primary-color);
}
.job-body {
  background-color: var(--primary-color);
}
.job-form-container input,
textarea {
  transition: all 0.2s ease;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  resize: none;
  padding: 0.6rem;
  border-radius: 0 0.5rem 0 0.5rem;
}
.job-form-container textarea {
  height: 10rem;
}
.job-form-container input:hover,
.job-form-container textarea:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}
.job-body header {
  margin-bottom: 1rem;
}
/* reservation */
.reservation-text {
  color: white;
}
.reservation {
  background-color: var(--secondary-color);
  padding: 2rem;
  color: var(--primary-color);
}
.reservation-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
}

.form-row .form-group {
  flex: 1 1 0;
  min-width: 0;
}
.reservation-form label {
  font-size: 0.9rem;
}

.reservation-form input,
.reservation-form textarea {
  width: 100%;
  box-sizing: border-box;

  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);

  padding: 0.7rem 0;
  color: inherit;

  outline: none;
  font: inherit;
}

.reservation-form input:focus,
.reservation-form textarea:focus {
  border-bottom: 1px solid currentColor;
}

.reservation-form textarea {
  resize: vertical;
  min-height: 100px;
}

.reservation-form input::placeholder,
.reservation-form textarea::placeholder {
  opacity: 0.5;
}
.reservation-btn {
  color: white;
  width: 9.3rem;
}
/* menu */
.hero-menu {
  margin-top: 0.4rem;
  padding: 1rem;
  background: url(images/hero\ img2.jfif);
  position: relative;
  content: "";
  aspect-ratio: 2/1;
  background-size: cover;
  background-position: 20%;
}
.hero-menu-text {
  position: absolute;
  color: var(--primary-color);
  font-family: "Calligraffitti", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-menu-text p {
  font-size: var(--fs-3xl);
  font-weight: 900;
}
.tabs button {
  font-size: var(--fs-sm);
  padding: 0;
  height: 2rem;

  width: 6rem;
}

.tabs button:focus {
  background-color: var(--primary-color);
  color: white;
}
.tabs {
  /* background-color: var(--primary-color); */
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6rem;
  width: 100%;

  justify-items: center;
}
.menu-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
/* checkout */
.shopping-cart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.item {
  border-radius: 0.2rem;

  color: var(--secondary-color);
  font-size: var(--fs-sm);
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  background-color: var(--primary-color);
  display: flex;
}
.image-checkout {
  border-radius: 0.4rem;
  width: 2.5rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
  aspect-ratio: 1/1;
  border: var(--secondary-color-dark) solid 1px;
}
.image-checkout img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.name-checkout {
  display: grid;
  width: 8rem;
}
.name-checkout h2 {
  font-size: var(--fs-sm);
}
.quantity,
.delete-checkout {
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
  height: 4rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
}
.quantity p {
  font-size: var(--fs-sm);
}
.quantity button,
.delete-checkout button {
  background-color: transparent;
  border: none;
}
.subtotal-container {
  padding: 1rem;
}
.subtotal {
  border-top: var(--primary-color) 2px solid;
  font-weight: 700;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}

.footer-checkout {
  margin-top: 4rem;
}
.checkout-btns-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media (min-width: 420px) {
  .footer-container {
    grid-template-areas:
      "logo ."
      "link contact"
      "socials .";
  }

  .contact {
    text-align: right;
    align-items: end;
  }
}

@media (min-width: 600px) {
  html body p {
    font-size: 1.125rem;
  }
  :root {
    --h1-font: 3rem;
    --h2-font: 2rem;
    --body-font: 1.125rem;
  }

  .bar {
    display: none;
  }

  .featured-work-gallery {
    justify-content: space-between;
    gap: 2rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
  .work-card {
    max-width: 30rem;
  }
  #what-we-do {
    background-color: var(--highlight-color);
    align-items: center;
    display: grid;
    grid-template-areas: "txt cards  ";
    grid-template-columns: 42% 58%;
  }
  .what-we-do-container {
    grid-template-rows: 6rem 6rem 8rem;
    grid-area: cards;
  }
  .what-we-do-text {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-left: 2rem;
    grid-area: txt;
  }

  .what-we-do-text h2 {
    width: 100%;

    text-align: left;
  }
  .contact-block {
    max-height: 5rem;
  }
  #testimonial {
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-between;
    flex-flow: row;
  }
  .testimonial-text {
    text-align: left;
    justify-content: start;
  }
  .testimonial-text p {
    width: 100%;
  }
  .container {
    position: relative;
    width: 60%;
  }
  .why-us-cards {
    width: 35rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .why-us-card {
    height: 5rem;
  }
  /* .testimonial-slider-control {
    position: absolute;
    display: block;

    width: 5rem;
    height: 5rem;
    bottom: 0;
    left: 50%;
  }
  .swiper-button-prev {
    position: absolute;
    display: block;
  }
  .swiper-button-next {
    position: absolute;
    display: block;
  } */
}
@media (min-width: 480px) {
  .quantity,
  .delete-checkout {
    width: 2.5rem;
    height: 4.5rem;
  }
  .image-checkout {
    width: 4.5rem;
  }
  .item {
    padding: 1rem;
  }

  .first-image {
    height: 15rem;
  }
  .second-image {
    width: 100%;
    height: 15rem;
    overflow: hidden;
  }
}
@media (min-width: 750px) {
  :root {
    --fs-xs: 0.8rem;
    --fs-sm: 0.9rem;
    --fs-base: 1.22rem;
    --fs-md: 1.13rem;
    --fs-lg: 1.3rem;
    --fs-xl: 2rem;
    --fs-2xl: 2rem;
    --fs-3xl: 3rem;
  }
  .fav-image,
  .menu-image {
    height: 8.5rem;
  }
  .hire-image {
    height: 24rem;
  }
  .job-hero .hire-image {
    height: 25rem;
  }
  .hire-text {
    gap: 1.4rem;
    height: 17rem;
  }
  #reason {
    height: 20rem;
  }
  .hire-text button {
    height: 3rem;
  }
  .name-checkout {
    width: 10rem;
  }

  .quantity,
  .delete-checkout {
    width: 2.5rem;
    height: 5rem;
  }
  .image-checkout {
    width: 5rem;
  }
  .item {
    padding: 1rem;
  }
  .values-arrow {
    max-width: 15rem;
  }
  .checkout-btn-container button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .why-us-image-one {
    width: 18rem;
  }
  .why-us-image-two {
    width: 15rem;
  }
  .why-us {
    flex-direction: row;
    padding: 2rem;
  }
  .why-us-image-one {
    width: 12rem;
  }
  .why-us-image-two {
    width: 10rem;
  }
  .why-us-image-one img {
    border-radius: 1rem;
  }
  .why-us-cards {
    width: 25rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .why-us-card {
    height: 5rem;
  }
  .crew-card > div:first-of-type {
    width: 20rem;
  }
  .about-hero-image {
    height: 20rem;
  }
  .records-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .crew-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .crew-card > div:first-of-type {
    width: 12rem;
  }
  .reservation-btn {
    width: 10rem;
  }
}
@media (min-width: 1000px) {
  .links-header {
    display: flex;
    width: 100%;
  }

  .hero-container {
    grid-area: one;
  }
  .hero-menu {
    height: 20rem;
    width: 100%;
  }

  .first-image {
    height: 16rem;
  }
  .fav-product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu-items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .job-text {
    padding-bottom: 5rem;
  }
  .values-arrow {
    max-width: 17rem;
  }
  .form-container {
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 1rem 5rem;
    border: var(--primary-color) solid;
  }

  .job-form-container {
    /* background-color: var(--secondary-color); */
    padding: 1rem 5rem;
    border: var(--secondary-color) solid;
    border-radius: 0.5rem;
    margin: 2rem;
  }
  /* .job-form-container input,
  textarea {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  } */
  .why-us {
    flex-direction: row;
    padding: 2rem;
  }
  .why-us-image-one {
    width: 15rem;
  }
  .why-us-image-two {
    width: 12rem;
  }
  .why-us-card {
    height: 5rem;
    width: 25rem;
  }
  .crew-cards {
    gap: 3rem;
  }

  .crew-card p {
    font-size: var(--fs-lg);
    .records-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .about-hero-image {
    height: 18rem;
  }
}

@media (min-width: 1440px) {
  .fav-product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .menu-items-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
